{% extends "base.html" %}

{% load static %}

{% load crispy_forms_filters %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

  <div class="page-header min-vh-75" style="background-image: url('{% static 'img/background.jpg' %}'); padding-top: 80px;">
    <span class="mask bg-gradient-info opacity-6"></span>
    <div class="container">
      <section class="pt-sm-4 pb-5 position-relative">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card" style="padding: 10px;">
                <div class="card-body" style="padding-right: 1cm;">

                  <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h2 style="margin-bottom: 12px;">Kitchen Staff</h2>
                    <button type="button" onclick="window.location.href='{% url 'kitchen:cook-create' %}'" class="btn btn-primary btn-sm px-2 py-2">create</button>
                  </div>
                
                  <form method="get" action="" class="form-inline">
                    {{ search_form|crispy }}
                    <input class="btn-secondary" type="submit" value="🔎">
                  </form>
                  {% if cook_list %}
                  <table class="table">
                    <tr>
                      <th>ID</th>
                      <th>Username</th>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Experience</th>
                    </tr>
                  {% for cook in cook_list %}
                    <tr>
                      <td>{{ cook.id }}</td>
                      <td style="max-width: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="{% url 'kitchen:cook-detail' pk=cook.id %}">
                        {{ cook.username }}
                        {{ cook.get_absolute_url }} {% if user == cook %} (me) {% endif %}</a>
                      </td>
                      <td style="max-width: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ cook.first_name }}</td>
                      <td style="max-width: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ cook.last_name }}</td>
                      <td>{{ cook.years_of_experience }}</td>
                    </tr>
                  {% endfor %}
                  </table>
                  {% else %}
                    <p>There are no cooks in the kitchen.</p>
                  {% endif %}
                </div>
              
              {% include "includes/pagination.html" %}
              
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  
{% endblock content %}
