{% extends "base.html" %}

{% block content %}
  <h2>{{ dish.name }}</h2>
  <p>{{ dish.description }}</p>
  <hr>
  <div>
    <p><strong>Price:</strong> ${{ dish.price }}</p>
    <p><strong>Type:</strong> {{ dish.dish_type.name }}</p>
    <p><strong>Chef:</strong>
      {% for cook in dish.cooks.all %}
        {{ cook.first_name }} {{ cook.last_name }}{% if not forloop.last %}, {% endif %}
      {% empty %}
        <i>no one assigned</i>
      {% endfor %}
    </p>
      {% if dish in request.user.assigned_dishes.all %}
          <a class="btn-danger" href="{% url 'kitchen:assign-dish' pk=dish.id %}">Delete me from this dish</a>
      {% else %}
          <a class="btn-success" href="{% url 'kitchen:assign-dish' pk=dish.id %}">Assign me to this dish</a>
      {% endif %}
  </div>
  <hr>
  <form action="{% url 'kitchen:dish-list' %}"><input type="submit" value="Back"></form>
  
{% endblock %}
